{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help - Hyperion Logistics</title>
  <link rel="stylesheet" href="{% static 'css/help.css' %}">


  <!-- SUPPORT ALSO DOESNT DO ANYTHING -->



</head>
<body>


<nav>
  <a href="/polls/main/">Home</a>
  <a href="/polls/login/">Log In</a>
  <a href="/polls/register/">Register</a>
  <a href="/polls/help/">Help</a>
</nav>


<div class="help-container">
  <h1>Help & Support</h1>
  <h2>Frequently Asked Questions</h2>
  <ul>
    <li><strong>How do check my invoice?</strong>
      <p>Make sure you are logged in and click on the "Invoices" button from the main menu</p>
    </li>
    <li><strong>How do I track my shipment?</strong>
      <p>Go to the "Tracking" page and enter your tracking number.</p>

      <!-- ALSO DOESNT DO ANYTHING -->

    </li>
    <li><strong>Forgot your password?</strong>
      <p>Click on the "Forgot Password?" link on the Log In page and follow the instructions to reset your password.</p>

      <!-- ALSO THIS -->

    </li>
  </ul>

  <h2>Still Need Help?</h2>
  <p>If your issue isn’t listed above, feel free to contact our support team.</p>

  <div class="contact">
    <p><strong>Contact Support:</strong></p>
    <p>Email: support@hyperionlogistics.com</p>
    <p>Phone: +123 456 7890</p>
  </div>
</div>
</body>
</html>